.scanner-container {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }

  .scanner {
    width: 100%;
    height: auto;
    display: block;
  }

  .scanner-target {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  }